@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ece5e5;
  --foreground: #f0eaea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3eded;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.hero-section {
  background-image: url("/image7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

